.footer__content-wrapper {
  display: flex;
  justify-content: center;
}

.footer__content {
  background-color: var(--footer-bg);
  color: var(--footer-text);
  max-width: 964px;
  width: 100%;
  height: 100%;
  padding: 70px 125px;
  text-align: left;
  border-radius: 0 0 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__content-text {
  display: flex;
  font-size: 40px;
  font-weight: 400;
}

.footer__content-item {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer__content-img {
  margin-right: 10px;
  max-width: 30px;
  max-height: 30px;
  width: 100%;
  height: 100%;
}

.footer__content-phone {
  color: var(--footer-text);
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-family: var(--second-font);
}

.footer__contacts {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
}

.footer__contacts-link {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.footer__contacts-link:hover {
  .icon-svg {
    fill: var(--accent-color);
  }
}

.icon-svg {
  transition: fill 333ms ease-in;
  fill: var(--footer-text);
}

.footer__contacts-item {
  color: var(--footer-text);
}

.footer__info {
  display: flex;
  justify-content: space-between;
  margin: 100px 0 30px;
}

@media (max-width: 1024px) {
  .footer__content {
    max-width: 746px;
    padding: 50px;
    align-items: center;
  }
  .footer__content-text {
    font-size: 32px;
  }
  .footer__content-item {
    margin-top: 30px;
  }
  .footer__contacts-phone {
    font-size: 20px;
  }
  .footer__contacts {
    font-size: 18px;
  }
  .footer__info {
    font-size: 14px;
  }
}
