.gallery__slide {
  position: relative;
  max-width: 100%;
}

.gallery__item-img {
  width: 100%;
  height: 100%;
  display: block;
}

.gallery__gradient {
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  background: linear-gradient(to right, transparent, var(--main-bg));
  pointer-events: none;
  z-index: 2;
}

.swiper-button-right {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  padding: 210px 100px 210px 0;
  z-index: 3;
  svg {
    fill: var(--text-color);
    stroke: var(--text-color);
  }
}

.swiper-button-right-tablet {
  display: none;
}

.gallery__slide-mobile {
  display: none;
}

@media (max-width: 1440px) {
  .swiper-button-right {
    padding: 145px 100px 145px 0;
  }
}

@media (max-width: 1024px) {
  .gallery__gradient {
    width: 200px;
    height: 288px;
  }
  .swiper-button-right {
    display: none;
  }
  .swiper-button-right-tablet {
    display: flex;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    padding: 136px 50px 136px;
    z-index: 3;
    svg {
      fill: var(--text-color);
      stroke: var(--text-color);
    }
  }
}

@media (max-width: 576px) {
  .gallery .gallery__slide {
    display: none;
  }
  .gallery__slide-mobile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
  }
  .gallery__item-mobile {
    display: flex;
  }
  .gallery__item-img-mobile {
    width: 100%;
  }
}
