.hero {
  margin-top: 50px;
}

.hero-content {
  position: relative;
}

.hero-title-wrapper {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  mix-blend-mode: exclusion;
}

.hero-subtitle {
  font-size: 64px;
  color: #fff;
}

.hero-title {
  display: flex;
  align-items: center;
  column-gap: 40px;
  font-size: 128px;
  color: #e0dfcb;
  text-transform: uppercase;
}

.hero-images {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hero-image {
  border-radius: 20px;
}

.whatsapp-link {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.whatsapp-link-text {
  font-size: 20px;
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hero-content-mobile {
  display: none;
}

@media (max-width: 1440px) {
  .hero-title {
    font-size: 120px;
  }
}

@media (max-width: 1024px) {
  .hero-subtitle {
    font-size: 48px;
  }
  .hero-title {
    font-size: 81px;
  }
  .hero-image--1,
  .hero-image--3 {
    max-width: 272px;
    max-height: 576px;
  }
  .hero-image--2 {
    max-width: 291px;
    max-height: 616px;
  }
}

@media (max-width: 576px) {
  .hero .container {
    padding: 0;
  }
  .hero {
    margin-top: 30px;
  }
  .hero-content {
    display: none;
  }
  .hero-content-mobile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .hero-image-mobile {
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 20px;
    z-index: 1;
  }
  .hero-title-mobile-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    padding-top: 180px;
    height: 100%;
    z-index: 2;
  }
  .hero-subtitle-mobile {
    color: var(--about-text);
    font-size: 32px;
  }
  .hero-title-mobile {
    color: var(--accent-color);
    font-size: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  .hero-title-mobile--1 {
    font-size: 83px;
  }
  .hero-title-mobile--2 {
    font-size: 64px;
  }
  .hero-title-mobile--3 {
    font-size: 42px;
  }
  .whatsapp-link-text-mobile {
    display: flex;
    font-size: 14px;
    margin-top: 10px;
    z-index: 3;
    cursor: pointer;
  }
}

@media (max-width: 412px) {
  .hero {
    margin-top: 20px;
  }
}
