.quote {
  background-image: url(../images/quote.webp);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  margin-top: 150px;
  height: 100vh;
}

.quote__info {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.quote__item {
  padding: 150px 150px 0;
  margin: 0;
  text-align: center;
}

.quote__text {
  font-family: var(--second-font);
  color: var(--about-text);
  font-size: 48px;
  font-weight: 400;
}

.quote__text-tablet {
  display: none;
}

.quote__img {
  transform: translateX(345%);
}

.quote__btn {
  background-color: transparent;
  color: var(--quote-btn);
  border: 1px solid var(--quote-btn);
  border-radius: 20px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
  padding: 15px 30px;
  margin-bottom: 150px;
  align-self: center;
  width: auto;
}

@media (max-width: 1680px) and (min-width: 1679px) {
  .quote__text {
    font-size: 40px;
  }
  .quote__img {
    transform: translateX(280%);
  }
}

@media (max-width: 1440px) {
  .quote__img {
    transform: translateX(300%);
  }
  .quote__text {
    display: none;
  }
  .quote__text-tablet {
    display: flex;
    font-family: var(--second-font);
    color: var(--about-text);
    font-size: 44px;
    font-weight: 400;
  }
}

@media (max-width: 1024px) {
  .quote {
    margin-top: 100px;
    background-image: url(../images/quote-tablet.webp);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
  }
  .quote__item {
    padding: 100px 97px 0;
  }
  .quote__text-tablet {
    font-size: 30px;
  }
  .quote__img {
    transform: translateX(235%);
    max-width: 105px;
  }
  .quote__btn {
    margin-bottom: 100px;
  }
}

@media (max-width: 576px) {
  .quote {
    margin-top: 50px;
  }
  .quote__item {
    padding: 50px 36px 0 36px;
    min-height: 600px;
  }
  .quote__img {
    margin-top: 10px;
    transform: translateX(5%);
    max-width: 105px;
  }
  .quote__btn {
    margin-bottom: 50px;
  }
}
