.quote {
  background-image: url(../images/quote.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  margin-top: 150px;
}

.quote__info {
  display: grid;
  place-items: center;
}

.quote__item {
  min-height: 1170px;
  padding: 150px;
  margin: 0;
  text-align: center;
}

.quote__text {
  color: var(--about-text);
  font-size: 48px;
  font-weight: 400;
}

.quote__img {
  transform: translateX(345%);
}

.quote__btn {
  background-color: transparent;
  color: var(--quote-btn);
  border: 1px solid var(--quote-btn);
  border-radius: 20px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 500;
  padding: 15px 30px;
  margin-bottom: 150px;
}

@media (max-width: 1024px) {
  .quote {
    margin-top: 100px;
    background-image: url(../images/quote-tablet.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
  }
  .quote__item {
    padding: 100px 97px;
    min-height: 1059px;
  }
  .quote__text {
    font-size: 32px;
  }
  .quote__img {
    transform: translateX(280%);
    max-width: 105px;
  }
  .quote__btn {
    margin-bottom: 100px;
  }
}
