.team {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.title {
  display: flex;
  justify-content: center;
}

.title__text {
  font-size: 48px;
  font-weight: 300;
  color: var(--text-color-secondary);
}

.title__text-item {
  margin-left: 120px;
}

.title__text-color {
  color: var(--accent-color);
  font-weight: 600;
  text-transform: uppercase;
}

.team__list {
  padding-top: 100px;
}

.team__member {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.team__photo {
  width: 100%;
  object-fit: contain;
}

.highlight {
  color: var(--accent-color);
  font-size: 20px;
  font-weight: 600;
}

.team__desc {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}

.team__arrow {
  width: 150px;
  height: auto;
}

.team__arrow-tablet-1,
.team__arrow-tablet-2,
.team__arrow-tablet-3 {
  display: none;
}

.team__member-1,
.team__member-2,
.team__member-3 {
  position: relative;
  width: 100%;
  height: 500px;
}

.team__photo-1 {
  position: absolute;
  transform: translateX(107%);
}

.team__desc-1 {
  text-align: right;
  max-width: 310px;
  width: 100%;
  position: absolute;
  transform: translateX(-10%) translateY(355%) rotate(5deg);
}

.team__arrow-1 {
  position: absolute;
  transform: translateX(115%) translateY(370%) rotate(-24deg) scaleY(-1);
}

.team__photo-2 {
  position: absolute;
  transform: translateX(24%) translateY(17%);
}

.team__desc-2 {
  text-align: left;
  max-width: 250px;
  width: 100%;
  position: absolute;
  transform: translateX(135%) translateY(-47%) rotate(-13deg);
}

.team__arrow-2 {
  position: absolute;
  transform: translateX(150%) translateY(-5%) rotate(160deg);
}

.team__photo-3 {
  position: absolute;
  transform: translateX(-45%) translateY(12%);
}

.team__desc-3 {
  text-align: left;
  max-width: 215px;
  width: 100%;
  position: absolute;
  transform: translateX(145%) translateY(470%) rotate(-8deg);
}

.team__arrow-3 {
  position: absolute;
  transform: translateX(130%) translateY(530%) rotate(200deg);
}

.team__list-mobile {
  display: none;
}

@media (max-width: 1680px) and (min-width: 1679px) {
  .title__text {
    font-size: 40px;
  }
  .team__photo-1 {
    transform: translateX(102%) translateY(10%);
    max-width: 286px;
    max-height: 512px;
  }
  .team__desc-1 {
    transform: translateX(3%) translateY(260%) rotate(5deg);
  }
  .team__arrow-1 {
    transform: translateX(125%) translateY(250%) rotate(-17deg) scaleY(-1);
  }
  .team__photo-2 {
    max-width: 307px;
    max-height: 420px;
    transform: translateX(33%) translateY(28%);
  }
  .team__desc-2 {
    transform: translateX(135%) translateY(30%) rotate(-13deg);
  }
  .team__arrow-2 {
    transform: translateX(155%) translateY(85%) rotate(160deg);
  }
  .team__photo-3 {
    transform: translateX(-21%) translateY(23%);
    max-width: 299px;
    max-height: 440px;
  }
  .team__desc-3 {
    transform: translateX(109%) translateY(230%) rotate(-8deg);
  }
  .team__arrow-3 {
    transform: translateX(95%) translateY(260%) rotate(180deg);
  }
}

@media (max-width: 1440px) {
  .team__photo-1 {
    transform: translateX(84%);
  }
  .team__desc-1 {
    transform: translateX(3%) translateY(175%) rotate(5deg);
  }
  .team__arrow-1 {
    transform: translateX(115%) translateY(115%) rotate(-24deg) scaleY(-1);
  }
  .team__photo-3 {
    transform: translateX(-25%) translateY(12%);
  }
  .team__desc-3 {
    transform: translateX(113%) translateY(230%) rotate(-8deg);
  }
  .team__arrow-3 {
    transform: translateX(95%) translateY(260%) rotate(180deg);
  }
}
@media (max-width: 1024px) {
  .title__text-item {
    margin-left: 158px;
  }
  .title__text {
    font-size: 36px;
  }
  .highlight {
    font-size: 18px;
  }
  .team__desc {
    font-size: 14px;
  }
  .team__arrow {
    width: 120px;
    height: auto;
  }
  .team__arrow-1,
  .team__arrow-2,
  .team__arrow-3 {
    display: none;
  }

  .team__member-1,
  .team__member-2,
  .team__member-3 {
    position: relative;
    width: 100%;
    height: 377px;
  }
  .team__photo-1 {
    max-height: 420px;
    max-width: 260px;
    position: absolute;
    transform: translateX(63%) translateY(5%);
  }
  .team__desc-1 {
    text-align: right;
    max-width: 310px;
    width: 100%;
    position: absolute;
    transform: translateX(-12%) translateY(-25%) rotate(11deg);
  }
  .team__arrow-tablet-1 {
    display: flex;
    position: absolute;
    transform: translateX(185%) translateY(0%) rotate(35deg) scaleY(-1);
  }
  .team__photo-2 {
    max-height: 340px;
    max-width: 257px;
    position: absolute;
    transform: translateX(20%) translateY(17%);
  }
  .team__desc-2 {
    text-align: left;
    max-width: 250px;
    width: 100%;
    position: absolute;
    transform: translateX(70%) translateY(-25%) rotate(-13deg);
  }
  .team__arrow-tablet-2 {
    display: flex;
    position: absolute;
    transform: translateX(85%) translateY(-25%) rotate(160deg);
  }
  .team__photo-3 {
    max-height: 353px;
    max-width: 246px;
    position: absolute;
    transform: translateX(-18%) translateY(15%);
  }
  .team__desc-3 {
    text-align: left;
    max-width: 215px;
    width: 100%;
    position: absolute;
    transform: translateX(55%) translateY(150%) rotate(-8deg);
  }
  .team__arrow-tablet-3 {
    display: flex;
    position: absolute;
    transform: translateX(60%) translateY(25%) rotate(198deg);
  }
}

@media (max-width: 576px) {
  .team {
    margin-top: 50px;
  }
  .title__text {
    margin-bottom: 20px;
  }
  .title__text-item {
    margin-left: 0;
  }
  .team__list {
    display: none;
  }
  .team__list-mobile {
    display: flex;
    flex-direction: column;
  }
  .team__member-mobile {
    display: flex;
    flex-direction: column;
  }
  .team__member-2-mobile,
  .team__member-1-mobile,
  .team__member-3-mobile {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team__photo-2-mobile,
  .team__photo-1-mobile,
  .team__photo-3-mobile {
    width: 100%;
    max-width: 300px;
  }
  .team__title-mobile {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--accent-color);
    color: var(--about-text);
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border-radius: 20px;
    margin-top: -20px;
  }
  .team__text-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }
  .team__arrow-mobile {
    position: inherit;
    min-width: 73px;
    max-width: 73px;
    left: 0;
    bottom: 0;
    transform: rotate(45deg);
    margin-left: 2%;
  }
  .team__desc-mobile {
    font-size: 16px;
    text-align: left;
    padding: 10px 8px;
  }
  .team__desc-mobile strong {
    font-weight: 600;
  }
  .team__member-3-mobile {
    margin-top: 40px;
  }
}
