.why-him__content {
  margin-top: 150px;
  display: flex;
  gap: 0 20px;
}

.why-him__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.why-him__title {
  font-family: var(--second-font);
  font-size: 48px;
  font-weight: 300;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  color: var(--text-color-secondary);
}

.why-him__title span {
  display: inline-block;
  margin-left: 415px;
}

.why-him-img {
  position: absolute;
  transform: translateX(185%) translateY(65%);
}

.why-him-text-1 {
  font-size: 20px;
  line-height: 25px;
}

.why-him-text-2 {
  padding-right: 20px;
}

.why-him__image-text {
  display: flex;
}

.why-him-text-2,
.why-him-text-3 {
  line-height: 22px;
  padding-top: 20px;
}

.why-him__img-1,
.why-him__img-2,
.why-him__img-3 {
  border-radius: 20px;
}

.why-him__img-1 {
  max-width: 382px;
  max-height: 199px;
}

.why-him__img-2 {
  max-width: 481px;
  max-height: 342px;
}

.why-him__img-3 {
  max-width: 308px;
  max-height: 477px;
}

.why-him__img-1-laptop,
.why-him__img-2-laptop,
.why-him__img-3-laptop {
  display: none;
}

.why-him__content-mobile {
  display: none;
}

@media (max-width: 1680px) and (min-width: 1679px) {
  .why-him__title {
    font-size: 38px;
    margin-bottom: 20px;
  }
  .why-him__title span {
    margin-left: 335px;
  }
  .why-him-img {
    transform: translateX(235%) translateY(80%);
    max-width: 102px;
  }
  .why-him__image-text {
    padding-top: 20px;
  }
  .why-him-text-2 {
    padding-top: 0;
  }
  .why-him__img-1,
  .why-him__img-2,
  .why-him__img-3 {
    display: none;
  }
  .why-him__img-1-laptop,
  .why-him__img-2-laptop,
  .why-him__img-3-laptop {
    display: flex;
    border-radius: 20px;
  }
  .why-him__img-1-laptop {
    max-width: 185px;
    max-height: 159px;
  }
}

@media (max-width: 1440px) {
  .why-him__content {
    gap: 0 10px;
  }
  .why-him__title {
    font-size: 42px;
    margin-bottom: 20px;
  }
  .why-him__title span {
    margin-left: 150px;
  }
  .why-him-img {
    transform: translateX(80%) translateY(50%);
  }
  .why-him-text-1 {
    font-size: 18px;
  }
  .why-him-text-2,
  .why-him-text-3 {
    font-size: 14px;
    padding-top: 10px;
  }
  .why-him__img-1 {
    max-width: 312px;
    max-height: 139px;
  }
  .why-him__img-2 {
    max-width: 421px;
    max-height: 282px;
  }
  .why-him__img-3 {
    max-width: 248px;
    max-height: 417px;
  }
}

@media (min-width: 1025px) {
  .why-him__content-tablet {
    display: none;
  }
}

@media (max-width: 1024px) {
  .why-him__content {
    display: none;
  }
  .why-him__content-tablet {
    margin-top: 100px;
  }
  .why-him__title {
    font-size: 36px;
    text-align: right;
  }
  .why-him__title span {
    margin-left: 408px;
  }
  .why-him-img {
    max-width: 102px;
    max-height: 63px;
    position: absolute;
    transform: translateX(285%) translateY(65%);
  }
  .why-him-text-1 {
    font-size: 16px;
  }
  .why-him__img-3 {
    max-width: 320px;
    max-height: 412px;
    float: right;
    margin: 0 0 20px 20px;
  }
  .why-him__img-1 {
    max-width: 206px;
    max-height: 156px;
    float: right;
    margin: 20px 0 20px 20px;
  }
  .why-him__img-2 {
    max-width: 358px;
    max-height: 155px;
    float: left;
    margin: 20px 20px 0 0;
  }
  .why-him-text-2,
  .why-him-text-3 {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .why-him__content {
    display: none;
  }
  .why-him .container {
    padding: 0;
  }
  .why-him__content-mobile {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .why-him-mobile {
    display: flex;
    justify-content: center;
    text-align: left;
    position: relative;
  }
  .why-him__title-mobile {
    font-size: 36px;
    font-weight: 400;
    padding-left: 10px;
  }
  .why-him-logo-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 90px;
    transform: translateX(465%);
  }
  .why-him-info-mobile {
    margin-top: 20px;
  }
  .why-him-item-mobile {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }
  .why-him-text-1-mobile,
  .why-him-text-3-mobile {
    font-size: 16px;
    text-align: left;
    margin-left: 10px;
  }
  .why-him-text-2-mobile {
    font-size: 16px;
    text-align: right;
    margin-right: 10px;
  }
  .title__text-color-mobile {
    color: var(--accent-color);
    font-weight: 600;
  }
  .why-him-img-2-mobile {
    transform: scaleX(-1);
  }
}

@media (max-width: 414px) {
  .why-him-logo-mobile {
    transform: translateX(200%) translateY(158%);
  }
}

@media (max-width: 412px) {
  .why-him-logo-mobile {
    transform: translateX(200%) translateY(150%);
  }
}
